name: Run Ambula Tests

# триггер
on:
  push:
    paths:
      - 'src/**'

jobs:
  run-tests:
    name: "Run API Tests & Publish Allure Report"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run all tests
        run: ./mvnw clean test -q

      - name: Load Test Report History
        uses: actions/checkout@v2
        if: always()
        with:
             ref: gh-pages
             path: gh-pages

      - name: Load test report history
        uses: actions/checkout@v2
        if: always()
        with:
          ref: gh-pages
          path: gh-pages

      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@v1.13
        with:
          results: target/allure-results
          report-dir: allure-history

      - name: Publish test report
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history




