name: Run Ambula Tests

# триггер
on:
  push:
    paths:
      - 'src/**'

jobs:
  run-tests:
    name: "Run API Tests & Publish Allure Report"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run all tests
        run: ./mvnw clean test -q

      - name: Install Allure
        run: |
            sudo apt-get update
            sudo apt-get install -y unzip wget
            wget https://github.com/allure-framework/allure2/releases/download/2.29.0/allure-2.29.0.zip
            unzip allure-2.29.0.zip -d /opt/allure
            echo "/opt/allure/allure-2.29.0/bin" >> $GITHUB_PATH

      - name: Generate Allure Report
        run: allure generate target/allure-results --clean -o allure-history

      - name: Publish Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_branch: gh-pages
            publish_dir: allure-history







